<% if @allblocks.present? %>
  <div class="row">
    <% @allblocks.each do |block| %>
      <% if params[:controller] == 'home' %>
        <% if block.display == 'home' || block.display == 'all' %>
          <div class="col-md-4">
            <% if block.show_title == true %>
              <h2><%= block.title %></h2>
            <% end %>
            <%= block.body.html_safe %>
            <!--<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
          </div>
        <% end %>
      <% else %>
        <% if block.display == 'nohome' || block.display == 'all' %>
          <div class="col-md-4">
            <% if block.show_title == true %>
              <h2><%= block.title %></h2>
            <% end %>
            <%= block.body.html_safe %>
            <!--<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
