<% if @jumbotron.present? %>
  <% @jumbotron.each do |jumbotron| %>
    <% if params[:controller] == 'home' %>
      <% if jumbotron.display == 'home' || jumbotron.display == 'all' %>
        <div class="jumbotron">
          <div class="container">
            <% if jumbotron.show_title == true %>
              <h1 class="display-3"><%= jumbotron.title %></h1>
            <% end %>
            <%= jumbotron.body.html_safe %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if jumbotron.display == 'nohome' || jumbotron.display == 'all' %>
        <div class="jumbotron">
          <div class="container">
            <% if jumbotron.show_title == true %>
              <h1 class="display-3"><%= jumbotron.title %></h1>
            <% end %>
            <%= jumbotron.body.html_safe %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(".jumbotron a").addClass("btn btn-primary");
</script>
