body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.navbar a {
  text-decoration: none;
}

a.btn {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  span {
    background-color: #e9ecef !important;
  }
}